{{#each this}}
<li class="country-list__item">
    <img class="country-list__img" src="{{this.flags.svg}}" alt="{{this.name}}">
    <span class="country-list__name">{{this.name}}</span>
</li>
{{/each}}